<section class="main-product container">
  <div class="overlay"></div>
  <h1>Cebolla Amarilla Dulce</h1>
</section>
<section class="container line product-description">
  <div class="description">
    <h3>Descripción</h3>
    <p>La cebolla amarilla dulce es una variedad de cebolla no pungente, es generalmente más achatada que redondeada, tienen un nivel alto de azúcar y agua y menor proporción de compuestos de azufre.</p>
  </div>
  <div class="product-calendar">
    <span>Disponibilidad</span>
    <div><i class="fa fa-calendar"></i>Enero</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Febrero</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Marzo</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Abril</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Mayo</div>
    <div><i class="fa fa-calendar"></i>Junio</div>
    <div><i class="fa fa-calendar"></i>Julio</div>
    <div><i class="fa fa-calendar"></i>Agosto</div>
    <div><i class="fa fa-calendar"></i>Setiembre</div>
    <div><i class="fa fa-calendar"></i>Octubre</div>
    <div><i class="fa fa-calendar"></i>Noviembre</div>
    <div><i class="fa fa-calendar"></i>Diciembre</div>
  </div>
  <article class="product-details">
    <h3>Presentación</h3>
    <p>Mallas de 20 kg / 44.09 lb</p>
  </article>
  <article class="product-details">
    <h3>Calibres</h3>
    <ul>
      <li>Prepack (5.08 cm - 6.35 cm / 2.00 in - 2.50 in)</li>
      <li>Mediana (6.35 cm - 8.26 cm / 2.50 in - 3.25 in)</li>
      <li>Jumbo (8.26 cm - 10.16 cm / 3.25 in - 4.00 in)</li>
      <li>Colosal (10.16 cm - 12.70 cm / 4.00 in - 5.00 in)</li>
    </ul>
  </article>
  <article class="product-details">
    <h3>Variedades</h3>
    <ul>
      <li>Century</li>
      <li>Campo Lindo</li>
    </ul>
  </article>
</section>
<section class="benefits line container">
  <h2>¿Por qué consumirlo?</h2>
  <%= image_tag 'productos/producto-beneficio.jpg' %>
  <div>
    <span>Previene y combate enfermedades cardiovasculares</span>
    <span>Reduce riesgo de contraer cáncer</span>
    <span>Es uno de los mejores antibióticos naturales</span>
  </div>
</section>
<section class="container blog">
  <h2>Recetas</h2>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el primer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el segundo blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el tercer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
</section>