<section class="main-product container">
  <div class="overlay"></div>
  <h1>Cebolla Roja</h1>
</section>
<section class="container line product-description">
  <div class="description">
    <h3>Descripción</h3>
    <p>La cebolla roja tiende a ser de tamaño mediano a grande y tener un sabor suave a dulce. A menudo se consumen crudas, asadas o cocinadas levemente con otros ingredientes, o se añaden para dar color a ensaladas.</p>
  </div>
  <div class="product-calendar">
    <span>Disponibilidad</span>
    <div class="unavailable"><i class="fa fa-calendar"></i>Enero</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Febrero</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Marzo</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Abril</div>
    <div><i class="fa fa-calendar"></i>Mayo</div>
    <div><i class="fa fa-calendar"></i>Junio</div>
    <div><i class="fa fa-calendar"></i>Julio</div>
    <div><i class="fa fa-calendar"></i>Agosto</div>
    <div><i class="fa fa-calendar"></i>Setiembre</div>
    <div><i class="fa fa-calendar"></i>Octubre</div>
    <div><i class="fa fa-calendar"></i>Noviembre</div>
    <div class="unavailable"><i class="fa fa-calendar"></i>Diciembre</div>
  </div>
  <article class="product-details">
    <h3>Presentación</h3>
    <p>Mallas de 20 kg / 44.09 lb</p>
  </article>
  <article class="product-details">
    <h3>Calibres</h3>
    <ul>
      <li>Extra (8.00 cm - 10.00 cm / 3.12 in - 3.90 in)</li>
      <li>Primera (6.00 cm - 7.99 cm / 2.34 in - 3.11 in)</li>
      <li>Segunda (5.00 cm - 6.00 cm / 1.95 in - 2.33 in)</li>
    </ul>
  </article>
  <article class="product-details">
    <h3>Variedades</h3>
    <ul>
      <li>Civan</li>
      <li>Pantera Rosa</li>
      <li>Criolla - Camaneja</li>
    </ul>
  </article>
</section>
<section class="benefits line container">
  <h2>¿Por qué consumirlo?</h2>
  <%= image_tag 'productos/producto-beneficio.jpg' %>
  <div>
    <span>Previene y combate enfermedades cardiovasculares</span>
    <span>Reduce riesgo de contraer cáncer</span>
    <span>Es uno de los mejores antibióticos naturales</span>
  </div>
</section>
<section class="container blog">
  <h2>Recetas</h2>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el primer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el segundo blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
  </article>
  <article class="blog-1">
    <%= image_tag 'blog/blog1.jpg' %>
    <div class="info">
      <span class="title">Título que describa el tercer blog</span>
      <span class="description">Lorem ipsum dolor sit amet.</span>
    </div>
  </article>
</section>