<section class="container">
  <h2>Déjanos tu mensaje</h2>
  <article class="contact">
    Hola, mi nombre es <input type="text"> y me gustaría que escribas a mi correo <input type="text" > con la siguiente información:
    <textarea></textarea>
    <button>Enviar</button>
  </article>
</section>