<section class="container">
  <h2>Déjanos tu mensaje</h2>
  <article class="contact">
    <span>Nombre</span>
    <input type="text">
    <span>Correo</span>
    <input type="text" >
    <span>Asunto</span>
    <input type="text" >
    <span>Mensaje</span>
    <textarea></textarea>
    <button>Enviar</button>
  </article>
</section>