<section class="main">
  <div class="container">
    <h1>Frase fuerza en Miranda somos...</h1>
  </div>
</section>
<section>
  <h2>Ofrecemos productos de calidad</h2>
  <article>Cebolla amarilla</article>
  <article>Cebolla roja</article>
  <article>Ajos</article>
</section>
<section>
  <h2>Certificaciones</h2>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
</section>
<section>
  <h2>Novedades</h2>
  <article>Blog 1</article>
  <article>Blog 2</article>
  <article>Blog 3</article>
  <article>Blog 4</article>
</section>
<section>
  <h2>Empresas que forman parte de Miranda</h2>
  <img src=""/>
  <img src=""/>
  <img src=""/>
</section>
