<%= render '/refinery/content_page', :hide_sections => [:body_content_title] %>
<section class="container blog line">
  <h2>Noticias</h2>
  <% @posts.each do |post| %>
    <% if post.live? %>
    <article class="blog-1">
      <div class="overlay"></div>
      <% if (categories = post.categories.translated).any? %>
        <span class='category'>
          <%=raw categories.collect { |category| link_to category.title, refinery.blog_category_path(category) }.to_sentence %>
        </span>
      <% end %>
      <div class="info">
        <span class="description">
          <%= link_to post.custom_teaser.html_safe, refinery.blog_post_path(post) %>
        </span>
        <span class="title"><%= link_to post.title, refinery.blog_post_path(post) %></span>
      </div>
    </article>
    <% end %>
  <% end %>
</section>