<section class="main">
  <h1>Frase fuerza en Miranda somos...</h1>
</section>
<section class="product content">
  <h2>Ofrecemos productos de calidad</h2>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/amarilla-background.jpg' %>
      <span>Cebolla amarilla</span>
    </a>
  </article>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/roja-background.jpg' %>
      <span>Cebolla roja</span>
    </a>
  </article>
  <article>
    <a href="#">
      <div class="overlay"></div>
      <%= image_tag 'productos/ajos-background.jpg' %>
      <span>Ajos</span>
    </a>
  </article>
</section>
<section class="content">
  <h2>Certificaciones</h2>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
  <article>
    <img src=""/>
    <button>Global G.A.P.</button>
  </article>
</section>
<section>
  <h2>Novedades</h2>
  <article>Blog 1</article>
  <article>Blog 2</article>
  <article>Blog 3</article>
  <article>Blog 4</article>
</section>
<section>
  <h2>Empresas que forman parte de Miranda</h2>
  <img src=""/>
  <img src=""/>
  <img src=""/>
</section>
