<div>
  <article>
    <span>Contáctanos</span>
    <span>contacto@grupomiranda.com</span>
  </article>
  <article>
    <span>Ubícanos en</span>
    <span>Carretera Panamericana Sur Km 278 Salas Guadalupe - Ica</span>
  </article>
  <article>
    <span>Síguenos en</span>
    <span>/grupomiranda</span>
  </article>
</div>
<ul>
  <li>Inicio</li>
  <li>Nosotros</li>
  <li>Productos</li>
  <li>Calidad</li>
  <li>Contacto</li>
  <li>Blog</li>
</ul>