footer {
  > div {
    overflow: hidden;
    padding: 20px;
    background-color: $green;
    i { color: white; }
    span {
      display: block;
      color: white;
    }
    article {
      height: 60px;
      position: relative;
      font-size: .8em;
      letter-spacing: .5px;
      i { font-size: 2em; }
      div {
        left: 65px;
        top: 0;
        margin: 0 auto;
        position: absolute;
      }
      @include span-columns (4);
    }
  }
  ul {
    margin: 10px 50px;
    float: right;
    li {
      padding-left: 20px;
      display: inline-block;
      font-size: .7em;
    }
  }
  div .container { padding: 0; }
}