@media screen and (max-width: 900px) {
  header {
    .logo { max-width: 200px; }
    .language {
      display: block;
      margin-bottom: 0;
    }
    .navigation-menu-button {
      display: block;
      float: right;
      font-size: 2em;
      clear: right;
      margin-right: 50px;
      &:hover {
        color: $green;
      }
    }
    #navigation-menu {
      border-top: 1px solid #EEE;
      display: none;
      margin-bottom: 20px;
      padding-top: 10px;
      li {
        background-color: white;
        border-radius: 0;
        display: block;
        position: static;
        text-align: right;
        a { padding-right: 0; }
        &.active {
          margin: 0;
          transform: scale(1);
        }
      }
    }
  }
  footer {
    div article {
      height: 100px;
      .fa {
        display: flex;
        justify-content: center;
      }
      div {
        position: static;
        text-align: center;
        font-size: .9em;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  footer {
    div article {
      position: static;
      float: inherit;
      height: 60px;
      width: 100%;
      margin: 0 auto;
      &:last-child { height: 40px; }
      i { float: left; }
      div {
        text-align: left;
        margin-left: 50px;
      }
    }
    ul { display: none; }
  }
}