@media screen and (max-width: 900px) {
  header {
    .language { margin-bottom: 0; }
    .navigation-menu-button {
      display: block;
      float: right;
      font-size: 2em;
      clear: right;
      margin-right: 50px;
      &:hover {
        color: $green;
      }
    }
    #navigation-menu {
      border-top: 1px solid #EEE;
      display: none;
      margin-bottom: 20px;
      padding-top: 10px;
      li {
        background-color: white;
        border-radius: 0;
        display: block;
        position: static;
        text-align: right;
        a { padding-right: 0; }
        &.active {
          background-image: none;
          margin: 0;
          transform: scale(1);
        }
      }
    }
    nav {
      display: none;
    }
  }
}
